.product {
  width: 100%;
}

.product__info {
  display: flex;
  min-width: 100vh;
  align-items: stretch;
}

.product__info--left {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1% 15% 1% 10%;
  background-color: var(--white-color);
  font-family: "Rubik", sans-serif;
  font-style: normal;
  justify-content: center;
}

.product__info--left--image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product__info--left--title {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding: 1% 0;
  color: var(--heading-color-secondary);
  text-align: center;
}
.product__content--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 0;
}

.product__content--item-type, .product__content--item-quantity {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.135rem;
  color: var(--heading-color-secondary);
  margin-right: 2%;
}



.product__content--item img {
  width: 1rem;
  height: 1rem;
}

.product__content--item button {
  background: red;
  border: none;
  color: white;
  padding: 1%;
  border-radius: 5px;
}
.product__info--left--buttons {
  display: flex;
  justify-content: space-between;
  padding: 2% 0;
}

.product__info--left--buttons button {
  outline: none;
  cursor: pointer;
}

.product__info--left--buttons--try {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.135rem;
  color: var(--heading-color-secondary);
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  padding: 1% 5%;
  border-radius: 5px;
}

.product__info--left--buttons--try:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.product__info--left--buttons--buy {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.135rem;
  color: var(--text-color-secondary);
  background-color: var(--primary-color);
  padding: 1% 5%;
  border-radius: 5px;
  border: none;
}

.product__info--left--buttons--buy:hover {
  background-color: var(--secondary-color);
}

.product__info--left--buttons--subscribe {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.135rem;
  color: var(--text-color-secondary);
  background-color: var(--heading-color-secondary);
  padding: 1% 5%;
  border-radius: 5px;
  border: none;
}

.product__info--left--buttons--subscribe:hover {
  background-color: var(--secondary-color);
}

.product__info--right {
  width: 50%;
  padding: 1% 10% 1% 4%;
  background-color: var(--tertiary-color);
  color: var(--text-color-secondary);
  font-family: "Rubik", sans-serif;
  font-style: normal;
}

.product__info--right--title {
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 3.75rem;
  padding: 2% 0;
}

.product__info--right--info {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.135rem;
  padding: 2% 0;
}

.product__info--right--description--title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.135rem;
  padding: 2% 0;
}

.product__info--right--description--content {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.135rem;
  padding: 2% 0 2% 4%;
}

.product__info--right--benefits--title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.135rem;
  padding: 2% 0;
}

.product__info--right--benefits--list--item {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.135rem;
  padding: 1% 0 1% 0;
}

.product__mayAlsoLike {
  display: flex;
  flex-direction: column;
  padding: 1% 8%;
  margin: 2%;
}

.product__mayAlsoLike--title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 4.4375rem;
  color: var(--text-color-primary);
  padding: 2% 0;
}

@media screen and (max-width: 1000px) {
  .product__info {
    min-width: 0;
    flex-direction: column;
    align-items: center;
  }

  .product__info--left {
    width: 80%;
    padding: 1% 10%;
  }

  .product__info--left--title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
 
  .product__info--left--buttons {
    flex-direction: column;
    align-items: center;
  }

  .product__info--left--buttons--try {
    width: 100%;
    margin-bottom: 2%;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  
  .product__info--left--buttons--buy {
    width: 100%;
    margin-bottom: 2%;
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .product__info--left--buttons--subscribe {
    width: 100%;
    margin-bottom: 2%;
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .product__info--right {
    width: 80%;
    padding: 1% 10%;
  }
}
