.testimonial-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.testimonial-message__text {
  text-align: center;
  justify-self: center;
  width: 75%;
  background-color: #634850;
  padding: 15% 15%;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--text-color-secondary);
}

.testimonial-message__image {
    margin-top: -10%;
}

.testimonial-message__image img {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  box-sizing: border-box;
}
