.editable-profile-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.editable-profile-item__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.editable-profile-item__input input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.editable-profile-item__input input:disabled {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: black;
    background: none;
    border: 2px solid white;
}

.editable-profile-item__input button {
  background: none;
  border: none;
}
