.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
}

.contact__left {
  width: 40%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__left--title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 94px;
  color: #2c3c4d;
  padding: 3% 0;
}

.contact__left--subtitle {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #2c3c4d;
  padding: 3% 0;
}

.contact__left--hr {
  border-bottom: 1px dashed #e3e3e3;
  width: 70%;
  margin-bottom: 10%;
}

.contact__left--details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.contact__left--details--title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  padding: 3% 0;
}

.contact__left--details--subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2% 0;
  width: 100%;
}

.contact__left--details--subtitle.two {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact__left--details--subtitle--item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2% 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #8c959f;
}

/* .contact__left--details--subtitle--item--text {
  padding-left: 5%;
} */

.contact__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__right--title {
  padding: 5% 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

.contact__right--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 0;
  width: 100%;
}

.contact__right--form--personal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2% 0;
}

.contact__right--form--personal input {
  width: 42%;
  padding: 2% 3%;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #8c959f;
}

.contact__right--form--message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2% 0;
}

.contact__right--form--message textarea {
  padding: 2% 3%;
  height: 25vh;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #8c959f;
}

.contact__right--form--checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2% 0;
}

.contact__right--form--checkbox--text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #8c959f;
  padding: 0 2%;
}

.contact__right--form--submit{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #352429;
  border: none;
  padding: 2% 0;
}
